NODE_ENV=development

PORT=3010
NEST_DEBUG=true

DB_HOST=localhost
DB_PORT=5510
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=postgres
DB_SCHEMA=public
DB_LOGGING=true
DB_SSL=
DB_MIGRATIONS_RUN=

REDIS_HOST=localhost
REDIS_PORT=6379

GRAPHQL_SERVER=development

JWT_SECRET=001
JWT_EXPIRES_IN=100d

GITHUB_TOKEN=

TEST_TOKEN=
