{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-embed",
    "prettier-plugin-sql",
    "prettier-plugin-import-sort"
  ],
  "language": "postgresql",
  "keywordCase": "upper",
  "expressionWidth": 1000
}
