{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-import-sort", "prettier-plugin-sql"],
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "language": "postgresql",
        "keywordCase": "upper",
        "expressionWidth": 1000
      }
    }
  ]
}
